
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<!DOCTYPE html>
<html >
<head>
    <script src="../../Scripts/angular.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        {{message}}
    </div>

    <script src="../../Scripts/Train/app.js"></script>
    <script src="../../Scripts/Train/myController.js"></script>
</body>
</html>

